Source: ros-kinetic-media-export
Section: misc
Priority: optional
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/media_export
Standards-Version: 3.9.2

Package: ros-kinetic-media-export
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Placeholder package enabling generic export of media paths.
